<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'new/alertify/themes/alertify.core.css' %}"/>
    <link rel="stylesheet" href="{% static 'new/alertify/themes/alertify.default.css' %}" id="toggleCSS"/>
    <meta name="viewport" content="width=device-width">
</head>

<form action="" id="new-group">

</form>
<body>
<a href="#" id="prompt">Prompt Dialog</a><br>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="{% static 'new/alertify/lib/alertify.min.js' %}"></script>
<script>

    $("#prompt").on('click', function () {
        alertify.prompt("This is a prompt dialog", function (e, str) {
            if (e) {
                alertify.success("You've clicked OK and typed: " + str);
            } else {
                alertify.error("You've clicked Cancel");
            }
        }, "Default Value");
        return false;
    });


    // ==============================
    // Standard Dialogs
    $("#notification").on('click', function () {
        reset();
        alertify.log("Standard log message");
        return false;
    });

    $("#success").on('click', function () {
        reset();
        alertify.success("Success log message");
        return false;
    });

    $("#error").on('click', function () {
        reset();
        alertify.error("Error log message");
        return false;
    });

</script>
</body>
</html>
