{% extends 'base/base.html' %}
{% block title %}

{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-4 col-xl-3 chat">
                <div class="card mb-sm-3 mb-md-0 contacts_card" style="height: 930px;">
                    <div class="img_cont"
                         style="width: 150px;height: 150px;margin: 20px auto 16px;">
                        <img src="{% if profile.image %}{{ profile.image.url }}{% endif %}"
                             class="rounded-circle user_img" width="150px" height="150px"
                             style="width: 150px; height: 150px;">
                        <label for="prof-update">
                            <i class="fa fa-camera" id="update"></i>
                        </label>
                    </div>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" id="prof-update" name="image" style="display: none;">
                        <div class="wrap" style="margin-top: 34px;margin-bottom: -20px;display: none" id="update-btn">
                            <button class="button">save</button>
                        </div>
                    </form>
{#                    <form action="" method="get">#}
{#                        <div class="card-header">#}
{#                            <div class="input-group">#}
{#                                <input type="text" placeholder="Search for new user or group..." name="link"#}
{#                                       class="form-control search" id="chat-search">#}
{#                                <div class="input-group-prepend">#}
{#                                    <span class="input-group-text search_btn">#}
{#                                        <label for="chat-search">#}
{#                                        <i class="fas fa-search"></i>#}
{#                                        </label>#}
{#                                    </span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}
                    <div class="card-body contacts_body">
                        <ui class="contacts">
                            <form action="" method="POST" id="create-group">
                                {% csrf_token %}
                                <div class="input-group">
                                    {{ create_new_group_form.room_name }}
                                    <div class="input-group-append" id="chat-message-submit">
                                        <span class="input-group-text send_btn"><i
                                                class="fas fa-arrow-circle-up"></i></span>
                                    </div>
                                </div>
                            </form>
                            <hr>
                        </ui>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'account_logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        
        
        
            <div class="col-md-4 col-xl-3 chat">
                <div class="card mb-sm-3 mb-md-0 contacts_card" style="height: 930px;">
                    <hr>
                    <div class="card-body contacts_body">
                        <ui class="contacts">
                            {% for chat in chats %}
                                <li class="active">
                                    <div class="d-flex bd-highlight">
                                        <div class="img_cont">
                                            <img src="{% if chat.image %}{{ chat.image.url }}{% endif %}"
                                                 class="rounded-circle user_img">
                                            <span class="online_icon"></span>
                                        </div>
                                        <div class="user_info">
                                            <p style="font-size: 18px"><a
                                                    href="{{ chat.get_absolute_url }}">{{ chat.room_name }}</a></p>
                                        </div>
                                    </div>
                                </li>
                            {% empty %}
                                <p style="text-align: center;font-size: 21px;font-weight: bolder;">No chat yet</p>
                            {% endfor %}
                        </ui>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    </div>

    <script>

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            document.getElementById('create-group').submit();
        };

        document.querySelector('#update').onclick = function (e) {
            document.getElementById('update-btn').style.display = '';
        };

    </script>

{% endblock %}
