{% extends 'base/base.html' %}
{% block content %}
    {% load static %}
    <div class="chat-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        {% include 'base/include/header.html' %}
        {% include 'base/include/sidbar.html' %}
        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="mdl-grid chat-content">

                <div class="mdl-cell mdl-cell--12-col mdl-grid">
                    <div class="chat-user mdl-cell mdl-cell--1-col-phone mdl-cell--1-col-tablet mdl-cell--1-col">
                        <img src="http://famelocker.com.au/front_media/images/user.jpg">
                    </div>
                    <div class="chat-message mdl-cell mdl-color--white mdl-shadow--2dp mdl-cell--11-col mdl-cell--7-col-tablet mdl-cell--3-col-phone">
                        <h4>Hassan Hafez <span>Sep 7, 2:22PM</span> <i class="setting-icon material-icons">settings</i>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                </div>

                <div class="chat-write-box mdl-color--white mdl-shadow--2dp mdl-cell--12-col mdl-grid">
                    <div class="chat-icon mdl-cell--1-col-phone mdl-cell--1-col-tablet mdl-cell--1-col">
                        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">camera_alt</i>
                    </div>
                    <div class="mdl-cell--2-col-phone mdl-cell--6-col-tablet mdl-cell--10-col">
                        <input type="text" name="message">
                    </div>
                    <div class="chat-icon right mdl-cell--1-col-phone mdl-cell--1-col-tablet mdl-cell--1-col">
                        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">tag_faces</i>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}