{% extends 'chat/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="container-fluid" id="main-container">
        <div class="row h-100">
            <div class="col-12 col-sm-5 col-md-4 d-flex flex-column" id="chat-list-area" style="position:relative;">

                <!-- Navbar -->
                <div class="row d-flex flex-row align-items-center p-2" id="navbar">
                    <img alt="Profile Photo" class="img-fluid rounded-circle mr-2" style="height:50px; cursor:pointer;"
                         onclick="showProfileSettings()" id="display-pic">
                    <div class="text-white font-weight-bold" id="username"></div>
                    <div class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v text-white"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" onclick="createNewGroup()">New Group</a>
                            <a class="dropdown-item" href="#" onclick="searchForChat()">Search</a>
                            <a class="dropdown-item" href="#" onclick="showProfileSettings()">Profile Update</a>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a>
                        </div>
                    </div>
                </div>

                <!-- Search Bar -->
                <div class="wrap" style="display: none;" id="searchbar">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Enter group link or username"
                               style="height: 50px;" name="search" id="search-in">
                        <button type="submit" class="searchButton" onclick="searchInputSubmit()">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>

                <!-- Chat List -->
                <div class="row" id="chat-list" style="overflow:auto;"></div>

                <!-- Profile Settings -->
                <div class="d-flex flex-column w-100 h-100" id="profile-settings">
                    <div class="row d-flex flex-row align-items-center p-2 m-0"
                         style="background:#009688; min-height:65px;">
                        <i class="fas fa-arrow-left p-2 mx-3 my-1 text-white"
                           style="font-size: 1.5rem; cursor: pointer;"
                           onclick="hideProfileSettings()"></i>
                        <div class="text-white font-weight-bold">Profile</div>
                    </div>
                    <form action="" id="profile-update-form" method="post" enctype="multipart/form-data">
                        <div class="d-flex flex-column" style="overflow:auto;">
                            <img alt="Profile Photo" class="img-fluid rounded-circle my-5 justify-self-center mx-auto"
                                 id="profile-pic">

                            {% csrf_token %}
                            {{ profile_form.image }}
                            <div class="bg-white px-3 py-2">
                                <div class="text-muted mb-2"><label for="input-name">First Name</label></div>
                                {{ profile_form.first_name }}
                            </div>
                            <div class="bg-white px-3 py-2">
                                <div class="text-muted mb-2"><label for="input-name">Last Name</label></div>
                                {{ profile_form.last_name }}
                            </div>
                            <div class="bg-white px-3 py-2">
                                {{ profile_form.username }}
                            </div>
                            <div class="bg-white px-3 py-2">
                                <div class="text-muted mb-2"><label for="input-about">About</label></div>
                                {{ profile_form.bio }}
                            </div>
                        </div>
                        <input type="submit" value="save"
                               style="margin-left: 40%;width: 20%;margin-top: 12%;height: 40px;"
                               class="btn btn-success">
                    </form>
                </div>

            </div>

            <!-- Message Area -->
            <div class="d-none d-sm-flex flex-column col-12 col-sm-7 col-md-8 p-0 h-100" id="message-area">
                <div class="w-100 h-100 overlay"></div>

                <!-- Navbar -->
                <div class="row d-flex flex-row align-items-center p-2 m-0 w-100" id="navbar">
                    <div class="d-block d-sm-none">
                        <i class="fas fa-arrow-left p-2 mr-2 text-white" style="font-size: 1.5rem; cursor: pointer;"
                           onclick="showChatList()"></i>
                    </div>
                    <a href="#"><img src="https://via.placeholder.com/400x400" alt="Profile Photo"
                                     class="img-fluid rounded-circle mr-2" style="height:50px;" id="pic"></a>
                    <div class="d-flex flex-column">
                        <div class="text-white font-weight-bold" id="name"></div>
                        <div class="text-white small" id="details"></div>
                    </div>
                    <div class="d-flex flex-row align-items-center ml-auto">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v text-white"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" onclick="UpdateGroupInfo('name')">Change group name</a>
                            <a class="dropdown-item" href="#" onclick="UpdateGroupInfo()">Change group id</a>
                            <a class="dropdown-item" href="#" onclick="leaveGroup()">Leave group</a>
                        </div>
                    </div>

                </div>

                <!-- Messages -->
                <div class="d-flex flex-column" id="messages"></div>

                <!-- Input -->
                <input type="file" id="file-input" style="display: none">
                <div class="d-none justify-self-end align-items-center flex-row" id="input-area">
                    <a href="#" onclick="showEmoji()"><i class="far fa-smile text-muted px-3 emoji-picker-container"
                                                         style="font-size:1.5rem;"></i></a>
                    <a href="#" onclick="fileSelect()">
                        <i class="fas fa-paperclip mx-3 text-white d-none d-md-block"></i></a>
                    <input type="text" name="message" id="msg-input" placeholder="Type a message"
                           class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm">
                    <i id="chat-message-submit" class="fas fa-paper-plane text-muted px-3" style="cursor:pointer;"
                       onclick="sendMessage()"></i>
                </div>

            </div>
        </div>
    </div>



    {{ room_name|json_script:"room-name" }}
    {{ request.user.username|json_script:'user-name' }}
    {{ link|json_script:'link' }}

    {% include 'chat/include/emoji.html' %}

    {% include 'chat/include/hidden_forms.html' %}

    {% include 'chat/include/chatSocket.html' %}

{% endblock %}