{% extends 'base/base.html' %}
{% block title %}{{ room_name }}{% endblock %}

{% block content %}
    <div class="container clearfix" style="width: 100%">
        <div class="people-list" id="people-list">
            <h3 style="text-align: center;" class="text-success">members</h3>
            <hr>
            <div class="search">
                <input type="text" placeholder="search"/>
                <i class="fa fa-search"></i>
            </div>
            <ul class="list">
                {% for member in chat.members.all %}
                    <li class="clearfix">
                        {#                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar"/>#}
                        <div class="about">
                            <div class="name">{{ member.username }}</div>
                            <div class="status">
                                <i class="fa fa-circle online"></i> online
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="chat" style="width: 85.6%; height: 950px;">
            <div class="chat-header clearfix" style="padding: 4px;">
                {#            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar"/>#}
                <div class="chat-about">
                    <div class="chat-with">{{ room_name }}</div>
                    <div class="chat-num-messages">already
                        <spen id="count"></spen>
                        messages
                    </div>
                </div>
                <i class="fa fa-star"></i>
            </div> <!-- end chat-header -->

            <div class="chat-history" style="height: 690px;">
                <ul id="message-box">
                </ul>

            </div> <!-- end chat-history -->


            <div class="chat-message clearfix">
                <textarea name="message-to-send" id="chat-message-input" placeholder="Type your message"
                          rows="3"></textarea>
                <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
                <i class="fa fa-file-image-o"></i>
                <button id="chat-message-submit">Send</button>

            </div> <!-- end chat-message -->

        </div> <!-- end chat -->

    </div> <!-- end container -->

    {{ room_name|json_script:"room-name" }}
    {{ username|json_script:'username' }}

    <script id="message-template" type="text/x-handlebars-template">
        <li class="clearfix">
            <div class="message-data align-right">
                <span class="message-data-time">{{ time }}, Today</span> &nbsp; &nbsp;
                <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>
            </div>
            <div class="message other-message float-right">
                {{ messageOutput }}
            </div>
        </li>
    </script>

    <script id="message-response-template" type="text/x-handlebars-template">
        <li>
            <div class="message-data">
                <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                <span class="message-data-time">{{ time }}, Today</span>
            </div>
            <div class="message my-message">
                {{ response }}
            </div>
        </li>
    </script>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const username = JSON.parse(document.getElementById('username').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function (e) {
            chatSocket.send(JSON.stringify({
                'command': 'fetch_message',
            }))
        }

        chatSocket.onmessage = function (e) {
            const messages = JSON.parse(e.data);
            document.getElementById('count').innerText = messages.event['count'];
            if (messages.event.command === 'fetch_message') {
                for (let i = 0; i < messages.event.data.length; i++) {
                    var created = messages.event.data[i].created.slice(0, 19).replace('T', '|');
                    var content = messages.event.data[i].content;
                    console.log(messages.event.data[i].__str__)
                    if (messages.event.data[i].__str__ === username) {
                        document.getElementById('message-box').innerHTML += '<div id="your-message">' +
                            '<li class="clearfix">' +
                            '<div class="message-data align-right">' +
                            '<span class="message-data-time">' + created + '</span> &nbsp; &nbsp;' +
                            '<span class="message-data-name">You</span> <i class="fa fa-circle me"></i>' +
                            '</div>' +
                            '<div class="message other-message float-right" style="width: 52%;">' + content + '</div>' +
                            '</li>' +
                            '</div>'
                    } else {
                        document.getElementById('message-box').innerHTML += '<div id="response-message">' +
                            '<li>' +
                            '<div class="message-data">' +
                            '<span class="message-data-name">' + messages.event.data[i].__str__ + '<i class="fa fa-circle online"></i></span>' +
                            '<span class="message-data-time">' + created + '</span>' +
                            '</div>' +
                            '<div class="message my-message" style="width: 52%;">' + content + '</div>' +
                            '</li>' +
                            '</div>'
                    }
                }
            } else {
                console.log(messages)
                var created = messages.event.data.created.slice(0, 19).replace('T', '|');
                var content = messages.event.data.content;
                if (messages.event.data.__str__ === username) {
                    document.getElementById('message-box').innerHTML += '<div id="your-message">' +
                        '<li class="clearfix">' +
                        '<div class="message-data align-right">' +
                        '<span class="message-data-time">' + created + '</span> &nbsp; &nbsp;' +
                        '<span class="message-data-name">You</span> <i class="fa fa-circle me"></i>' +
                        '</div>' +
                        '<div class="message other-message float-right" style="width: 52%;">' + content + '</div>' +
                        '</li>' +
                        '</div>'
                } else {
                    document.getElementById('message-box').innerHTML += '<div id="response-message">' +
                        '<li>' +
                        '<div class="message-data">' +
                        '<span class="message-data-name">' + messages.event.data.__str__ + '<i class="fa fa-circle online"></i></span>' +
                        '<span class="message-data-time">' + created + '</span>' +
                        '</div>' +
                        '<div class="message my-message" style="width: 52%;">' + content + '</div>' +
                        '</li>' +
                        '</div>'
                }
            }
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'command': 'new_message',
                'username': username
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}