<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    {#const link = JSON.parse(document.getElementById('link').textContent);#}
    const username = JSON.parse(document.getElementById('user-name').textContent);

    const chatSocket = new WebSocket(
        'wss://'
        + window.location.host
        {% comment %}       + '/ws/chat/'
                       + roomName
                       + '/'
                       + link{% endcomment %}
        + '/'
    );

    chatSocket.onopen = function (e) {
        chatSocket.send(JSON.stringify({
            'command': 'fetch',
            'username': username,
        }))
    }

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);

        allMessages = fetchFromApi('http://127.0.0.1:8001/api/message/');

        allGroups = fetchFromApi('http://127.0.0.1:8001/api/chat/');

        contactList = fetchFromApi('http://127.0.0.1:8001/accounts/api/');

        {#allMessages = fetchFromApi('https://green-chat-x.herokuapp.com/api/message/');#}
        {##}
        {#allGroups = fetchFromApi('https://green-chat-x.herokuapp.com/api/chat/');#}
        {##}
        {#contactList = fetchFromApi('https://green-chat-x.herokuapp.com/accounts/api/');#}

        setTimeout(() => {
            messages = [];

            for (let i = 0; i < contactList.length; i++) {
                if (contactList[i].id === {{ user.id }}) {
                    user = contactList[i];
                }
            }

            for (let i = 0; i < allGroups.length; i++) {
                for (let j = 0; j < allGroups[i].members.length; j++) {
                    if (user.id === allGroups[i].members[j] && !isContain(groupList, allGroups[i])) {
                        groupList.push(allGroups[i]);
                    }
                }
            }

            assignMessages();
            init();
        }, 2000);

        setTimeout(() => {
            {#showEmoji();#}
            let emoji_box = document.getElementById("emojikb-maindiv");
            if (emoji_box.className === 'resizable')
                emoji_box.className = 'resizable emojikb-hidden';

        }, 1000);

      if (data.event.command === 'new_message') {
            addMessageToMessageArea(data.event.data);
            generateChatList();
        }

    };

    chatSocket.onerror = function (e) {
        console.log('WebSocket Error : ', e);
    }

    chatSocket.onclose = function (e) {
        console.error('WebSocket closed unexpectedly');
    };
    document.querySelector('#msg-input').focus();
    document.querySelector('#msg-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            sendMessage();
        }
    };

    function sendMessageToConsumers(msg) {
        chatSocket.send(JSON.stringify({
            'message': msg,
            'command': 'new_message',
            'username': username,
            'contain_image': false
        }));
    }

    document.querySelector('#file-input').onchange = function (e) {
        if (this.file || this.files[0]) {
            let FR = new FileReader();
            FR.addEventListener('load', function (e) {
                let msg = {
                    sender: user.id,
                    image: e.target.result,
                    time: mDate().toString(),
                    status: 1,
                    recvId: chat.isGroup ? chat.group.id : chat.contact.id,
                    recvIsGroup: chat.isGroup
                };
                chatSocket.send(JSON.stringify({
                    'message': msg,
                    'command': 'new_message',
                    'username': username,
                    'contain_image': true
                }));
            });
            FR.readAsDataURL(this.files[0]);
        }
    }
</script>
