{% extends 'base/account_base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}  Login{% endblock %}
{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="{% url 'account_logout' %}" method="POST">
                    {% csrf_token %}

                    <span class="login100-form-title p-b-26">
						Logout
					</span>

                    <span class="login100-form-title p-b-48"><i class="zmdi zmdi-font"></i></span>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">
                                Logout
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>

{% endblock %}