{% extends 'new/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="container-fluid" id="main-container">
        <div class="row h-100">
            <div class="col-12 col-sm-5 col-md-4 d-flex flex-column" id="chat-list-area" style="position:relative;">

                <!-- Navbar -->
                <div class="row d-flex flex-row align-items-center p-2" id="navbar">
                    <img alt="Profile Photo" class="img-fluid rounded-circle mr-2" style="height:50px; cursor:pointer;"
                         onclick="showProfileSettings()" id="display-pic">
                    <div class="text-white font-weight-bold" id="username"></div>
                    <div class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v text-white"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" onclick="createNewGroup()">New Group</a>
                            {#                            <a class="dropdown-item" href="#">Archived</a>#}
                            {#                            <a class="dropdown-item" href="#">Starred</a>#}
                            {#                            <a class="dropdown-item" href="#">Settings</a>#}
                            <a class="dropdown-item" href="#" onclick="searchForChat()">Search</a>
                            <a class="dropdown-item" href="#" onclick="showProfileSettings()">Profile Update</a>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a>
                        </div>
                    </div>
                </div>

                <!-- Search Bar -->
                {#                <form action="" method="get">#}
                <div class="wrap" style="display: none;" id="searchbar">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Enter group link or username"
                               style="height: 50px;" name="search" id="search-in">
                        <button type="submit" class="searchButton" onclick="searchInputSubmit()">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                {#                </form>#}

                <!-- Chat List -->
                <div class="row" id="chat-list" style="overflow:auto;"></div>

                <!-- Profile Settings -->
                <div class="d-flex flex-column w-100 h-100" id="profile-settings">
                    <div class="row d-flex flex-row align-items-center p-2 m-0"
                         style="background:#009688; min-height:65px;">
                        <i class="fas fa-arrow-left p-2 mx-3 my-1 text-white"
                           style="font-size: 1.5rem; cursor: pointer;"
                           onclick="hideProfileSettings()"></i>
                        <div class="text-white font-weight-bold">Profile</div>
                    </div>
                    <form action="" id="profile-update-form" method="post" enctype="multipart/form-data">
                        <div class="d-flex flex-column" style="overflow:auto;">
                            <img alt="Profile Photo" class="img-fluid rounded-circle my-5 justify-self-center mx-auto"
                                 id="profile-pic">

                            {% csrf_token %}
                            {#                             <input type="file" id="profile-pic-input" class="d-none" name="prof-pic">#}
                            {{ profile_form.image }}
                            <div class="bg-white px-3 py-2">
                                <div class="text-muted mb-2"><label for="input-name">First Name</label></div>
                                {#                            <input type="text" name="name" id="input-name" class="w-100 border-0 py-2 profile-input">#}
                                {{ profile_form.first_name }}
                            </div>
                            <div class="bg-white px-3 py-2">
                                <div class="text-muted mb-2"><label for="input-name">Last Name</label></div>
                                {#                            <input type="text" name="name" id="input-name" class="w-100 border-0 py-2 profile-input">#}
                                {{ profile_form.last_name }}
                            </div>
                            <div class="bg-white px-3 py-2">
                                <div class="text-muted mb-2"><label for="input-name">User Name</label></div>
                                {#                            <input type="text" name="name" id="input-name" class="w-100 border-0 py-2 profile-input">#}
                                {{ profile_form.username }}
                            </div>
                            <div class="bg-white px-3 py-2">
                                <div class="text-muted mb-2"><label for="input-about">About</label></div>
                                {#                            <input type="text" name="name" id="input-about" value=""#}
                                {#                                   class="w-100 border-0 py-2 profile-input">#}
                                {{ profile_form.bio }}
                            </div>
                        </div>
                        <input type="submit" value="save"
                               style="margin-left: 40%;width: 20%;margin-top: 12%;height: 40px;"
                               class="btn btn-success">
                    </form>
                </div>
            </div>

            <!-- Message Area -->
            <div class="d-none d-sm-flex flex-column col-12 col-sm-7 col-md-8 p-0 h-100" id="message-area">
                <div class="w-100 h-100 overlay"></div>

                <!-- Navbar -->
                <div class="row d-flex flex-row align-items-center p-2 m-0 w-100" id="navbar">
                    <div class="d-block d-sm-none">
                        <i class="fas fa-arrow-left p-2 mr-2 text-white" style="font-size: 1.5rem; cursor: pointer;"
                           onclick="showChatList()"></i>
                    </div>
                    <a href="#"><img src="https://via.placeholder.com/400x400" alt="Profile Photo"
                                     class="img-fluid rounded-circle mr-2" style="height:50px;" id="pic"></a>
                    <div class="d-flex flex-column">
                        <div class="text-white font-weight-bold" id="name"></div>
                        <div class="text-white small" id="details"></div>
                    </div>
                    <div class="d-flex flex-row align-items-center ml-auto">
                        <a href="#"><i class="fas fa-search mx-3 text-white d-none d-md-block"></i></a>
                        <a href="#"><i class="fas fa-paperclip mx-3 text-white d-none d-md-block"></i></a>
                        <a href="#"><i class="fas fa-ellipsis-v mr-2 mx-sm-3 text-white"></i></a>
                    </div>
                </div>

                <!-- Messages -->
                <div class="d-flex flex-column" id="messages"></div>

                <!-- Input -->
                <input type="file" id="file-input" style="display: none">
                <div class="d-none justify-self-end align-items-center flex-row" id="input-area">
                    <a href="#"><i class="far fa-smile text-muted px-3" style="font-size:1.5rem;"></i></a>
                    {#                    <label for="file-input">#}
                    <a href="#" onclick="fileSelect()">
                        <i class="fas fa-paperclip mx-3 text-white d-none d-md-block"></i></a>
                    {#                    </label>#}
                    <input type="text" name="message" id="msg-input" placeholder="Type a message"
                           class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm">
                    <i id="chat-message-submit" class="fas fa-paper-plane text-muted px-3" style="cursor:pointer;"
                       onclick="sendMessage()"></i>
                </div>

            </div>
        </div>
    </div>



    {{ room_name|json_script:"room-name" }}
    {{ request.user.username|json_script:'user-name' }}
    {{ link|json_script:'link' }}

    <form action="" id="new-group-form" style="display: none" method="post">
        {% csrf_token %}
        <input type="hidden" name="new-group-name" id="new-group-name" value="">
    </form>

    <form action="" id="join-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="join-input" id="join-input" value="">
    </form>

    <script>
        function fileSelect() {
            document.getElementById('file-input').click();
        }

        function searchInputSubmit() {
            groupList = [];
            messages = [];
            generateChatList();

            let str = document.getElementById('search-in').value;
            for (let i = 0; i < allGroups.length; i++)
                if (allGroups[i].__str__.includes(str))
                    groupList.push(allGroups[i]);

            for (let i = 0; i < contactList.length; i++)
                if (contactList[i].name.includes(str))
                    groupList.push(contactList[i]);

            assignMessages();
            generateChatList();
        }

        function searchForChat() {
            document.getElementById('searchbar').style.display = "";
            groupList = [];
            messages = [];
            generateChatList();
        }


        function createNewGroup() {
            alertify.prompt("Enter group name", function (e, str) {
                if (e) {
                    alertify.success("You've clicked OK and typed: " + str);
                    document.getElementById('new-group-name').value = str;
                    document.getElementById("new-group-form").submit();
                } else {
                    alertify.error("You've clicked Cancel");
                }
            }, "");
            return false;
        }

        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const link = JSON.parse(document.getElementById('link').textContent);
        const username = JSON.parse(document.getElementById('user-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            {% comment %}       + '/ws/chat/'
                           + roomName
                           + '/'
                           + link{% endcomment %}
            + '/'
        );

        chatSocket.onopen = function (e) {
            chatSocket.send(JSON.stringify({
                'command': 'fetch',
                'username': username,
            }))
        }

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);

            allMessages = fetchFromApi('http://127.0.0.1:8001/api/message/');

            allGroups = fetchFromApi('http://127.0.0.1:8001/api/chat/');

            contactList = fetchFromApi('http://127.0.0.1:8001/accounts/api/');

            setTimeout(() => {
                messages = [];

                for (let i = 0; i < contactList.length; i++) {
                    if (contactList[i].id === {{ user.id }}) {
                        user = contactList[i];
                    }
                }

                for (let i = 0; i < allGroups.length; i++) {
                    for (let j = 0; j < allGroups[i].members.length; j++) {
                        if (user.id === allGroups[i].members[j] && !isContain(groupList, allGroups[i])) {
                            groupList.push(allGroups[i]);
                        }
                    }
                }

                assignMessages();
                init();

            }, 500);




            if (data.event.command === 'fetch') {


            } else if (data.event.command === 'new_message') {
                addMessageToMessageArea(data.event.data);
                generateChatList();
            }

        };

        chatSocket.onerror = function (e) {
            console.log('WebSocket Error : ', e);
        }

        chatSocket.onclose = function (e) {
            console.error('WebSocket closed unexpectedly');
        };
        document.querySelector('#msg-input').focus();
        document.querySelector('#msg-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                sendMessage();
            }
        };

        function sendMessageToConsumers(msg) {
            chatSocket.send(JSON.stringify({
                'message': msg,
                'command': 'new_message',
                'username': username,
                'contain_image': false
            }));
        }

        document.querySelector('#file-input').onchange = function (e) {
            if (this.file || this.files[0]) {
                let FR = new FileReader();
                FR.addEventListener('load', function (e) {
                    let msg = {
                        sender: user.id,
                        image: e.target.result,
                        time: mDate().toString(),
                        status: 1,
                        recvId: chat.isGroup ? chat.group.id : chat.contact.id,
                        recvIsGroup: chat.isGroup
                    };
                    chatSocket.send(JSON.stringify({
                        'message': msg,
                        'command': 'new_message',
                        'username': username,
                        'contain_image': true
                    }));
                });
                FR.readAsDataURL(this.files[0]);
            }
        }

    </script>

{% endblock %}